<ion-content class="ion-padding">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Foto de perfil</ion-label>
      <ion-avatar slot="end">
        <img src="assets/shapes.svg" alt="Placeholder avatar">
      </ion-avatar>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!profileForm.valid">
      Actualizar perfil
    </ion-button>
  </form>
</ion-content>